{% extends "layout.html" %}

{% block title %}chai page {% endblock %}

{% block content %}
<h1>All chai for you </h1>
<div class = "grid grid-cols-3 gap-4 " >
    {% for chai in chais  %}
<div class = "bg-blue-900 p-5 rounded">
    <img class="rounded shadow-lg h-80" src="{{chai.image.url}}" alt="">
    <h3 class = "text-2xl font-bold">{{chai.name}}</h3>
    <a href="{% url "chai_detail" chai.id   %}">
        <button type = 'button' class = "text-white w-[100%] bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            {{chai.type}} - {{chai.id}}
        </button>
    </a>
</div>

{% endfor %}
</div>
{% endblock %}